@charset "UTF-8";
/* CSS Document */

*{ margin:0; padding:0; border:0;}
body{ font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px;}
.left{ float:left;}
.right{ float: right;}
.clear{ clear:both;}

.w-800{ background:url(../images/bg-contacto.gif) repeat-y; width:800px; text-align:center}
.w-457{ width:457px; margin:0 auto; text-align:left}
.p-top30{ padding-top:30px;}

.label{ width:inherit; text-align:left}

.campo{
	width:457px;
	height:38px;
	margin-bottom:5px;
	background:url(../images/form-campo.jpg) no-repeat;
	padding:2px;
	font-size:12px;}
	
#comentario{ width:457px; height:139px;
	background:url(../images/form-textarea.jpg) no-repeat;}